/* export colors */

:root {
  --graphicArea-bg-color: #fffcee;
  
  --caja1-bg-color: #468dc7;
  --caja1-border-color: #3a6e99;

  --caja2-bg-color: #F2A365;
  --caja2-border-color: #F2A365;

  --polea-bg-color: #0F4C75;
  --polea-border-color: #0F4C75;
  
  --base-bg-color: #553003;
  --base-border-color: #553003;

  --toolbox-bg-color: #f2f2f2;
  --masa1-bg-color: #8C0F77;
  --masa1-border-color: #8C0F77;
  --masa1-text-color: #00030D;

  --buttonAdd-bg-color: #1ece2d;
  --buttonAdd-text-color: #fff;
  --buttonAdd-border-color: #8C0F77;

  --buttonRemove-bg-color: #fa2d1e;
  --buttonRemove-text-color: #fff;
  --buttonRemove-border-color: #8C0F77;


  --result-border-color: #00030D;

  --cuerda1-bg-color: rgb(187, 135, 57);
  --cuerda1-border-color: white;
}